.header {
  padding: 5rem;
  display: grid;
  row-gap: 2rem;
}

.name {
  display: grid;
  color: var(--light-gray);
}

.hero {
  color: var(--light-gray);
  row-gap: 10rem;
}

.hero h1 {
  animation: 2s ease-out 0s 1 slideIn;
}

.name h2 {
  animation: 2s ease-out 0s 1 slideIn;
}