/* Wraps */
.main {
    padding: 5rem;
    display: grid;
    row-gap: 10rem;
    grid-template-columns: 1fr 1fr;
}

.project {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    color: var(--light-gray);
    width: fit-content;
}

/* Title */
.project-title {
    color: var(--light-gray);
    transition: ease-in-out var(--transition-fast);
}

.project:hover .project-title{
    color: var(--accent);
    transition: ease-in-out var(--transition-slow);
}

/* Text */
.project-text {
    padding: 3rem;
    border-radius: 3rem;
    background-color: var(--dark-gray);
}

.project-text strong{
    color: var(--light-gray);
    transition: ease-in-out var(--transition-fast);
}

.project:hover strong {
    color: var(--accent);
    transition: ease-in-out var(--transition-slow);
}

/* Icon */
.project-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-icon svg {
    fill: var(--dark-black);
    height: 40rem;
    width: 40rem;
}

/* Icon display */
@media only screen and (max-width: 1500px) {
    .project-icon svg {
        display: none;
        
        /* safari */
        visibility: hidden;
        width: 0;
        height: 0;
    }

    .main {
        grid-template-columns: 1fr;
    }
}

/* Touch screens */
@media only screen and (max-width: 1000px) {
    .project-text strong,
    .project-title{
        color: var(--accent);
        transition: none;
    }
}