html {
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  cursor: default;
}

:root {
  font-size: 16px;
  font-family: "Poppins";

  --transition-fast: 100ms;
  --transition-medium: 300ms;
  --transition-slow: 500ms;

  --black: #0F0F11;
  --dark-gray: #2E2E2E;
  --light-gray: #B1B6BA;
  --accent: #f58a07;
}

ul {
  list-style: none;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  z-index: 1;
}

::-webkit-scrollbar-track {
  opacity: 0;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
  background-color: var(--dark-gray);
}

h1 {
  font-weight: normal;
  font-size: 4rem;
  white-space: none;
}

h2 {
  font-weight: normal;
  font-size: 2rem;
}

strong {
  font-weight: normal;
  color: var(--accent);
}

light {
  color: var(--dark-gray);
}