* {
    margin: 0;
    padding: 0;
    cursor: default;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

:root {
    font-size: 16px;
    font-family: "Poppins";

    --transition-speed: 200ms;

    --green: #1B512D ; /* overide */
    --black: #0B0500;
    --light-gray: #878284;
    --dark-gray: #363033;
    --white: #E0E0E0;

    --logo: var(--green)
}

.nav {
    position: sticky;
    top: 0;
}
.navbar {
    padding: 0 2rem;
    background-color: var(--black);
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-logo {
    position: relative;
}
strong {
    color: var(--black);
}
.navbar-logo-text {
    line-height: 6rem;
    font-size: 3rem;
    font-weight: bold;
    color: var(--logo);
    position: relative;
    z-index: 1;
}
.navbar-logo-svg {
    fill: var(--logo);
    transform: rotate(-80deg);
    height: 4.5rem;
    width: auto;
    position: absolute;
    top: 0.75rem;
    left: -1.6rem;
}
.navbar-dropdown-icon {
    fill: var(--dark-gray);
    height: 4rem;
    width: auto;
}
